* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.desktop-only {
  display: none;
}

.hero {
  width: 100%;
  min-height: 100svh;
  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero-container {
  width: 100%;
  min-height: calc(100svh - 32px);

  display: flex;
  flex-direction: column;
  align-items: center;
}
