* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0);
  font-family: "Source Sans 3", sans-serif;
}

.btn--cta {
  border-color: #CE0A86;
  background: linear-gradient(#873AAA, #DF007F);
  color:#FFFFFF;
}

.btn--soft {
  border-radius: 6px;
}

.btn--rounded {
  border-radius: 10px;
}

.btn--gradient {
  background: linear-gradient(#873AAA, #DF007F);
  color:#FFFFFF;
}

.btn--font-xsmall {
  font-size: 12px;
}

.btn--font-small {
  font-size: 14px;
}

.btn--font-medium {
  font-size: 16px;
}

.btn--font-large {
  font-size: 18px;
}

.btn--join {
  width: 324px;
  height: 52px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.btn--colored {
    background: #FEF0F9;
    color:#CE0A86;
  }

  .btn--white {
    border-color: #CE0A86;
    background: #FFFFFF;
    color: #CE0A86;
  }

.desktop-only {
  display: none;
}

.hero {
  width: 100%;
  min-height: 100svh;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero-container {
  width: 100%;
  max-width: 393px;
  height: 852px;
  box-sizing: border-box;
  padding: 0px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.hero-logo {
  width: 285px;
  max-width: 100%;
  height: auto;
  margin-top: 310px;
  margin-bottom: 15px;
}

.hero-description {
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  color: #1D2128;
  line-height: 30px;
  text-align: center;
  max-width: 280px;
  margin-bottom: auto;
}

.source-sans-3-paragraph {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 1024px) {

  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }

  .header {
    width: 100%;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
  }

  .header.logo img {
    width: 140px;
    height: auto;
  }

  .nav-list {
    display: flex;
    align-items: center;

    gap: 25px;
    list-style: none;
  }

  .btn--nav {
    text-decoration: none;
    border-color: #FFFFFF;
    color: #565E6C;
  }

  .hero-image {
    width: 1176px;
    height: 640px;
  }

  .benefits-title {
    display: flex;
    justify-content: center;

    font-family: "Source Sans 3", sans-serif;
    font-size: 32px;
    color:#171A1F;
    line-height: 48px;
    text-align: center;
    font-weight: 400;
  }

  .benefits-list {
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  .benefits-card {
    width: 100%;
    max-width: 300px;
    min-height: 238px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .benefits-card p {
    width: 300px;
    height: 104px;

    margin: 48px 0 42px;

    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    color: #565E6C;
    line-height: 26px;
    text-align: center;
    font-weight: 400;
  }

  .benefits-button {
    width: 140px;
    height: 44px;
    margin: 0 0 0 80px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;

  }

  .opinions-section {
    width: 100%;
  }

  .opinions-title {
    display: flex;
    justify-content: center;
    margin: 96px 22px 48px 22px;

    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    color:#171A1F; 
  }

  .opinions-box {
    width: 100%;
    max-width: 1176px;
    min-height: 214px;
    margin: 0 22px 156px 22px;

    display: flex;
    justify-content: center;
  }

  .opinions-card {
    width: 100%;
    max-width: 371px;
    min-height: 214px;
    gap: 31.5px;

    display: flex;
    flex-direction: row;
     justify-content: center;
  }

  .opinions-card img {
    width: 64px;
    height: 64px;
  }

  .opinions-card p {
    width: 235px;
    height: 36px;
    margin: 24px;

    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #323842;
    text-align: center;
  }

  .opinions-card blockquote {
    width: 323px;
    height: 78px;
    margin: 0;

    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #565E6C;
    text-align: center;
  }

  .review-stars {
  display: inline-flex;
  width: 17.63px;
  height: 16.83px;
  color: #CCC;
  }

  .review-stars .activated {
    color: #F3C63F;
  }






}





